body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #00008b; 
    color: white;
}

.container {
    width: 100%;
    max-width: 600px; 
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-button {
    background-color: white;
    color: #00008b;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
    width: 200px;
}

.game-button:hover {
    background-color: #dddddd;
}
