body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000ff; 
    font-family: Arial, sans-serif;
    color: white;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    margin: 0 20px;
    padding: 10px;
    font-size: 2em; 
    color: #fff;
    background: transparent; 
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 120px); 
    grid-gap: 10px;
}

.cell {
    width: 120px;
    height: 120px;
    background-color: #ffffff;
    color: #0000ff; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em; 
    cursor: pointer;
    border-radius: 10px;
}

.cell:hover {
    background-color: #e6e6e6; 
}

.cell:active {
    background-color: #cccccc; 
}

.cell.winner {
    background-color: limegreen; 
    color: white;
}

.title {
    text-align: center;
    width: 100%;
    font-size: 3em;
    position: absolute;
    top: 20px;
}

@media (max-width: 600px) {
    .game-container {
        flex-direction: column;
    }

    .player {
        margin: 10px 0;
    }

}
